<div style="display: flex; flex-direction: column; width: 100%; height: 100%">
  <%= image_tag(ENV["LOGO_URL"],alt:'Use Verano', style: 'margin: 0 auto; max-width: 25vw') %>
  <h2 style="margin: 0 auto;" >Olá! <%= @resource.email %>!</h2>

  <p style="margin: 1em auto;">Foi feita uma solicitação para alteração ou recuperação da sua senha. Para isso, clique no link abaixo</p>

  <p style="margin: 0 auto;"><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p style="margin: 0 auto;">Se você não solicitou este email, por favor, ignore.</p>
  <p style="margin: 1em auto;">Sua senha não será alterada até que você acesse o link e crie uma nova.</p>
</div>
